<?xml version='1.0' encoding='utf-8'?>
<widget id="LauraGroettrup.oracle" version="0.1.0">
  <name>Oracle App</name>
  <description>
    Extended Example Tabris.js App
  </description>
  <author email="laura.groettrup@edu.fh-joanneum.at">
    Laura Groettrup
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
